In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.11)

In [2]:
from bs4 import BeautifulSoup as bs
import requests

In [3]:
HEADERS = ({'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
                           'Accept-Language': 'en-US, en;q=0.5'})

In [4]:
cust_name=[]
review_title=[]
review_date=[]
ratings=[]
review_content=[]

In [5]:
pages=list(range(0,446))
for i in pages:
    link='https://www.amazon.in/Apple-iPhone-Black-32GB-Storage/product-reviews/B01LZKSVRB/ref=cm_cr_getr_d_paging_btm_next_=?ie=UTF8&reviewerType=all_reviews&pageNumber='+str(i)
    request=requests.get(link,headers=HEADERS)
    soup=bs(request.content,'lxml')
    
    #extracting customer name
    names=soup.find_all("span",attrs={"class":"a-profile-name"})
    for j in range(0,len(names)):
        cust_name.append(names[j].get_text())
    
    #extracting review_title
    title=soup.find_all('a',attrs={"class":"review-title"})
    review_title=[]
    for j in range(0,len(title)):
        review_title.append(title[j].get_text())
        
    #extracting review_date
    date=soup.find_all("span",class_="a-size-base a-color-secondary review-date")
    for j in range(0,len(date)):
        review_date.append(date[j].get_text())
        
    # extracting review ratings
    rating=soup.find_all('i',class_='review-rating')
    for j in range(0,len(rating)):
        ratings.append(rating[j].get_text())
        
    # extracting reviews
    reviews=soup.find_all('span',{'data-hook':'review-body'})
    for j in range(0,len(reviews)):
        review_content.append(reviews[j].get_text())

In [6]:
review_title[:]=[titles.lstrip('\n') for titles in review_title]
review_title

['Buy iPhone SE 2020\n',
 'Good\n',
 'Great phone...\n',
 'Good\n',
 'Wow\n',
 'Pros & Cons\n',
 'In just three months phone developed Hardware problems\n',
 'Not worth it in 2021\n',
 'Not good for the price\n',
 'Poor performance\n']

In [7]:
review_title[:]=[titles.rstrip('\n') for titles in review_title]
review_title

['Buy iPhone SE 2020',
 'Good',
 'Great phone...',
 'Good',
 'Wow',
 'Pros & Cons',
 'In just three months phone developed Hardware problems',
 'Not worth it in 2021',
 'Not good for the price',
 'Poor performance']

In [8]:
review_date[:]=[date.lstrip('Reviewed in India on') for date in review_date]
#review_date

In [9]:
review_content[:]=[review.lstrip('\n') for review in review_content]
#review_content

In [10]:
review_content[:]=[review.rstrip('\n\n') for review in review_content]
#review_content

In [11]:
len(review_content)

4460

In [12]:
import pandas as pd

In [13]:
df=pd.DataFrame()

In [14]:
df['Customer_name']=cust_name
#df['Review_title']=review_title
df['Reviewed_date']=review_date
df['Ratings']=ratings
#df['Reviews']=review_content

In [15]:
df

          Customer_name     Reviewed_date             Ratings
0         Bharath Kumar      7 March 2019  5.0 out of 5 stars
1               jaywant   29 October 2018  1.0 out of 5 stars
2               jaywant   29 October 2018  1.0 out of 5 stars
3         Bharath Kumar      7 March 2019  5.0 out of 5 stars
4             Utpal Das  13 November 2018  5.0 out of 5 stars
...                 ...               ...                 ...
5347               Jijo       28 May 2020  5.0 out of 5 stars
5348              S. G.     17 April 2021  1.0 out of 5 stars
5349  Valentino Pereira        9 May 2021  4.0 out of 5 stars
5350          Madhulika     27 April 2021  5.0 out of 5 stars
5351      Tushar_Amazon     31 March 2021  3.0 out of 5 stars

[5352 rows x 3 columns]

In [16]:
df1=pd.DataFrame()

In [17]:
df1['Reviews']=review_content

In [18]:
new = pd.concat([df,df1], ignore_index=False, axis=1)

In [19]:
new

,Customer_name,Reviewed_date,Ratings,Reviews
0,Bharath Kumar,7 March 2019,5.0 out of 5 stars,i received defective iphone 7 32GB silver co...
1,jaywant,29 October 2018,1.0 out of 5 stars,Thanks for Amazon service. phone is very nic...
2,jaywant,29 October 2018,1.0 out of 5 stars,"Redmi phones cameras are great, of course iP..."
3,Bharath Kumar,7 March 2019,5.0 out of 5 stars,If you are an apple fan !! This is a true be...
4,Utpal Das,13 November 2018,5.0 out of 5 stars,in 20 days i found my battery health 98% whi...
...,...,...,...,...
5347,Jijo,28 May 2020,5.0 out of 5 stars,NaN
5348,S. G.,17 April 2021,1.0 out of 5 stars,NaN
5349,Valentino Pereira,9 May 2021,4.0 out of 5 stars,NaN
5350,Madhulika,27 April 2021,5.0 out of 5 stars,NaN
5351,Tushar_Amazon,31 March 2021,3.0 out of 5 stars,NaN

In [20]:
df3=pd.DataFrame()

In [21]:
df3['Review_title']=review_title

In [22]:
new_data = pd.concat([new,df3], ignore_index=False, axis=1)

In [23]:
new_data

,Customer_name,Reviewed_date,Ratings,Reviews,Review_title
0,Bharath Kumar,7 March 2019,5.0 out of 5 stars,i received defective iphone 7 32GB silver co...,Buy iPhone SE 2020
1,jaywant,29 October 2018,1.0 out of 5 stars,Thanks for Amazon service. phone is very nic...,Good
2,jaywant,29 October 2018,1.0 out of 5 stars,"Redmi phones cameras are great, of course iP...",Great phone...
3,Bharath Kumar,7 March 2019,5.0 out of 5 stars,If you are an apple fan !! This is a true be...,Good
4,Utpal Das,13 November 2018,5.0 out of 5 stars,in 20 days i found my battery health 98% whi...,Wow
...,...,...,...,...,...
5347,Jijo,28 May 2020,5.0 out of 5 stars,NaN,NaN
5348,S. G.,17 April 2021,1.0 out of 5 stars,NaN,NaN
5349,Valentino Pereira,9 May 2021,4.0 out of 5 stars,NaN,NaN
5350,Madhulika,27 April 2021,5.0 out of 5 stars,NaN,NaN
5351,Tushar_Amazon,31 March 2021,3.0 out of 5 stars,NaN,NaN

In [28]:
import pandas as pd
df = new_data.to_csv('reviews.csv', index = True)

In [29]:
df